In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [4]:
df.head(10)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No
5   31  Female  Average    School       Yes
6   18    Male     Good    School        No
7   60  Female     Poor    School       Yes
8   65  Female  Average        UG        No
9   74    Male     Good        UG       Yes

In [6]:
df.describe()

             age
count  50.000000
mean   54.160000
std    25.658161
min    15.000000
25%    30.250000
50%    57.000000
75%    74.000000
max    98.000000

In [7]:
df.isnull().sum()

age          0
gender       0
review       0
education    0
purchased    0
dtype: int64

In [8]:
df.duplicated().sum()

1

In [10]:
df = df.drop_duplicates()

In [11]:
from sklearn.preprocessing import OrdinalEncoder

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
df.head(5)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [16]:
df = df.drop(columns=['age','gender'])

In [17]:
df

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No
31     Poor    School       Yes
32  Average        UG       Yes
33     Good        PG       Yes
34  Average    School        No
35     Poor    School       Yes
36     Good        UG       Yes
37  Average        PG       Yes
38     Good    School        No
39     Poor        PG        No
40     Good    School        No
41     Good        PG       Yes
42     Good        PG       Yes
43     Poor        PG        No
44  Average        UG        No
45     Poor        PG       Yes
46     Poor        PG        No
47     Good        PG       Yes
48     Good        UG       Yes
49     Good        UG        No

In [18]:
df['education'].value_counts()

education
PG        18
School    16
UG        15
Name: count, dtype: int64

In [19]:
df['review'].value_counts()

review
Poor       18
Good       17
Average    14
Name: count, dtype: int64

In [27]:
oe = OrdinalEncoder(categories=[['Good','Average','Poor'],['PG','UG','School']])

In [28]:
df.head(2)

    review education purchased
0  Average    School        No
1     Poor        UG        No

In [29]:
X = df.drop('purchased',axis=1)
y = df['purchased']

In [30]:
X_train,x_test,Y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [31]:
X_train

     review education
39     Poor        PG
2      Good        PG
40     Good    School
33     Good        PG
10     Good        UG
22     Poor        PG
36     Good        UG
28     Poor    School
19     Poor        PG
32  Average        UG
1      Poor        UG
13  Average    School
35     Poor    School
45     Poor        PG
27     Poor        PG
5   Average    School
14     Poor        PG
23     Good    School
20  Average    School
18     Good    School
15     Poor        UG
4   Average        UG
41     Good        PG
34  Average    School
25     Good    School
12     Poor    School
17     Poor        UG
48     Good        UG
46     Poor        PG
49     Good        UG
8   Average        UG
43     Poor        PG
30  Average        UG
26     Poor        PG
29  Average        UG
0   Average    School
16     Poor        UG
37  Average        PG
9      Good        UG

In [32]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Good', 'Average', 'Poor'], ['PG', 'UG', 'School']])

In [33]:
oe.categories_

[array(['Good', 'Average', 'Poor'], dtype=object),
 array(['PG', 'UG', 'School'], dtype=object)]

In [34]:
oe.transform(X_train)

array([[2., 0.],
       [0., 0.],
       [0., 2.],
       [0., 0.],
       [0., 1.],
       [2., 0.],
       [0., 1.],
       [2., 2.],
       [2., 0.],
       [1., 1.],
       [2., 1.],
       [1., 2.],
       [2., 2.],
       [2., 0.],
       [2., 0.],
       [1., 2.],
       [2., 0.],
       [0., 2.],
       [1., 2.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [0., 0.],
       [1., 2.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [0., 1.],
       [2., 0.],
       [0., 1.],
       [1., 1.],
       [2., 0.],
       [1., 1.],
       [2., 0.],
       [1., 1.],
       [1., 2.],
       [2., 1.],
       [1., 0.],
       [0., 1.]])

In [ ]:
X